<div class="popup_container">
  <div class="popup_container_listwrapper">
    <div
      *ngFor="let item of notificationList"
      class="popup_container_listwrapper_card"
    >
      <ng-container *ngIf="item.message">
        <div class="popup_container_listwrapper_card_img">
          <img src="/assets/user_icon.svg" alt="" />
        </div>
        <p>
          {{ item.message }}
        </p>
        <div class="popup_container_listwrapper_card_action">
          <div
            (click)="notificationAction(1, item)"
            class="popup_container_listwrapper_card_action_img"
          >
            <img src="/assets/cross_icon.svg" alt="" />
          </div>
          <div
            (click)="notificationAction(2, item)"
            class="popup_container_listwrapper_card_action_img"
          >
            <img src="/assets/tick_icon.svg" alt="" />
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
